.popup__button-save {
    width: 358px;
    background: #000000;
    border-radius: 2px;
    color: white;
    transition: 0.2s linear;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 14px 0 14px;
    margin-top: 48px;

}
.popup__button-delite-img {
    margin-top: 38px;
}

.popup__button-save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 500px) {
    .popup__button-save {
        width: 238px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding: 14px 0 15px;
    }
}