.element__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
    max-width: 100%;
    color: black;
    background-color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}