.profile__status {
    margin: 7px 0px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__status {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}