.profile__avatar {
    margin: 0 30px 0 0;
    max-height: 121px;
    max-width: 121px;
    position: relative;
}
.profile__avatar:hover {
    background: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 767px) {
    .profile__avatar {
        align-self: center;
        margin: auto;
    }
}