.form-register__button {
    width: 358px;
    background: #ffffff;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    transition: 0.2s linear;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 14px 0 14px;
    margin-top: 48px;
}