.element__title {
    margin: 27px 0 26px 21px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 197px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .element__title {
        margin: 24px 0 26px 21px;
    }
}