.header__button {
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #a9a9a9;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  text-decoration: none;
}

.header__button:hover {
  opacity: 0.6;
}
